.ground {
    position: relative;
    z-index: 3;
}

.element {
    position: relative;
    z-index: 4;
}

.game-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    width: 50px;
}

body {
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50px;
    height: 50px;
    background-image: url("/img/empty.png");
    z-index: 1;
}